<html>
  <head>
    <% include includes/head %>
    <link rel='stylesheet' href='/css/archive.css'>
  </head>
  <body>
    <main>
      <div class='ribbon'>
        <% include includes/header %>
      </div>
      <div class='row margin-top-container'>
        <div class='col s10 offset-s1 card row'>
          <h1>Blog</h1>
          <div class='col s10'>
            <% if (site.posts.length){ %>
              <div id="recent" class="section scrollspy">
                <h3><%= __('recent_posts') %></h3>
                <div class="slider">
                  <ul class="slides">
                    <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
                      <li>
                        <img>
                        <div class="caption center-align">
                          <h3><%= post.title || '(no title)' %></h3>
                          <% tags(post.tags) %>
                          <a class='waves-effect waves-light btn' href="<%- url_for(post.path) %>">Read More</a>
                        </div>
                      </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
              <div id="tags" class="section scrollspy">
                <h3><%= __('tags') %></h3>
                <% if (site.tags && site.tags.length) { %>
                  <%- tags(site.tags) %>
                <% } else { %>
                  <p> No Tag Found :( </p>
                <% } %>
              </div>
              <div id="categories" class="section scrollspy">
                <h3><%= __('categories') %></h3>
                <% if (site.categories && site.categories.length) { %>
                  <%- categories(site.categories, theme.icon) %>
                <% } else { %>
                  <p> No Categories Found :( </p>
                <% } %>
              </div>
              <div id="archive" class="section scrollspy">
                <h3><%= __('archive_a') %></h3>
                  <%- archive(site.posts.sort('date', -1), theme.icon) %>
              </div>
            <% } %>
          </div>
          <div class='col s2'>
            <div class="toc-wrapper">
              <ul class="section table-of-contents">
                <li><a href="#recent"><%= __('recent_posts') %></a></li>
                <li><a href="#tags"><%= __('tags') %></a></li>
                <li><a href="#categories"><%= __('categories') %></a></li>
                <li><a href="#archive"><%= __('archive_a') %></a></li>
              </ul>
          </div>
        </div>
      </div>
    </main>
    <% include includes/script %>
    <script src="/js/post.js"></script>
  </body>
</html>