<% site.posts.each(function(post){ %>
	<p><%- config.root %><%- post.path %><br></p>
<% }) %>
<%- partial('_partial/card-recent') %>
<%- partial('_partial/card-logo') %>
<%- partial('_partial/card-category') %>
<%- partial('_partial/card-dashboard') %>