<div class="demo-back">
	<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" 
		href="javascript:history.back(-1)" title="go back" role="button">
		<i class="material-icons" role="presentation">arrow_back</i>
	</a>
</div>
<div class="mdl-card mdl-shadow--4dp mdl-cell--12-col max-width article">
	<div class="mdl-card__title defalut-post-title <%- page.title %>">
		<div class="mdl-card__title-text mdl-color-text--grey-50">
			<h3><%- page.title %></h3>
		</div>
	</div>
	<div class="float">
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900 mini-logo" role="presentation">
				<img src="/img/category/defalut.svg" class="mini-logo">
			</button>
	</div>
		<div class="float">
			<strong><%- partial('post/category') %><br><%- post.date.fromNow() %></strong>
		</div>
	<div class="mdl-card__supporting-text"><%- post.content %></div>
</div>
<%- partial('post/nav') %>