<div class="demo-back">
	<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" 
		href="javascript:history.back(-1)" title="go back" role="button">
		<i class="material-icons" role="presentation">arrow_back</i>
	</a>
</div>
<div class="mdl-card mdl-shadow--4dp mdl-cell--12-col article">
	<div class="mdl-card__title defalut-post-title <%- page.title %>">
		<div class="mdl-card__title-text mdl-color-text--grey-50">
			<h3><%- post.title %></h3>
		</div>
	</div>
	<div class="mdl-color-text--grey-700 mdl-card__supporting-text">
		<% post.categories.each(function(category){ %>
		<a href="/<%- category.path %>"><div class="mini-logo left-float"></div></a>
		<div class="left-float">
			<strong class="meta"><%- category.slug %><br>
				<%- post.date.fromNow() %></strong>
		</div>
		<% }) %>
	</div>
	<div class="mdl-card__supporting-text"><%- post.content %></div>
</div>
<%- partial('post/nav') %>